
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="text-center" id="already_linked_fb_text">
        <p>The Facebook account has</p>
        <p>already been linked.</p>
      </div>
      <div class = "already_linked_start_using_now">
        <p class="text-center">
          You can start using Feelit now:
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <center>

        <div id="app_buttons">
          <center>
            <p><%= link_to image_tag("/assets/ios-button.png", :class => "img-responsive", id:"fb_ios"), "https://itunes.apple.com/us/app/feelit/id684671984?mt=8" %>
              <%= link_to image_tag("/assets/android-button.png", :class => "img-responsive", id:"fb_android"), "https://play.google.com/store/apps/details?id=com.feelit.feelit" %>
            </p>
          </center>
        </div>
        <center><div class="hr"><hr /></div></center>
        <center>
          <p class="copyright">
          2015 © Feelit, Inc. All rights reserved.
        </p>
        </center>
    </center>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
