/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body {
   margin-top: 50px;
   background: url(background.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
 }

#registration_email {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.email_white {
  background-image: url(email_white.png);
}

.email_blue {
  background-image: url(email_blue.png);
}

.email_red {
  background-image: url(email_red.png);
}

#registration_username {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.username_white {
  background-image: url(username_white.png);
}

.username_blue {
  background-image: url(username_blue.png);
}

.username_red {
  background-image: url(username_red.png);
}

#registration {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.password_white {
  background-image: url(password_white.png);
}

.password_blue {
  background-image: url(password_blue.png);
}

.password_red {
  background-image: url(password_red.png);
}

.field {
  background-color: rgba(255,255,255,0.14);
  border: 1px solid white;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 17px;
  margin-bottom: 17px;
}

 #register {
  background-color: rgba(255,255,255,0.75);
  color: rgb(155,127,152);
  border: none;
  border-radius: 8px;
  width: 300px;
  padding-top: 11px;
  padding-bottom: 11px;
}

#ios {
  float:left;
  width: 140px;
  margin-left: 71px;
  }

#android {
  float:right;
  width: 140px;
  margin-right: 71px;
}
