/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body {
   margin-top: 50px;
   background: url(background.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
 }

#welcome {
  margin-top: 20px;
  font-size: 15pt;
  font-family: 'Trebuchet MS';
}


.field {
  background-color: rgba(255,255,255,0.14);
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  font-family: 'trebuchet MS';
}

.tos {
  line-height: 10px;
  font-size: 9pt;
  font-family: 'Trebuchet MS';
  margin-top: 20px;
  opacity: .8;
}

 #register {
  background-color: rgba(255,255,255,0.75);
  color: rgb(155,127,152);
  border: none;
  border-radius: 10px;
  width: 300px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 15px;
  margin-top: 12px;
  font-family: 'trebuchet MS'
}

.hr {
  height: 3px;
  width: 300px;
  opacity: .3;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 12px;
  opacity: .7;
  font-family: 'Trebuchet MS';
  font-size: 9pt;
}

#app_buttons .img-responsive {
  width: 142px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#registration_email {
<<<<<<< HEAD
  background-size: 18px;
=======
  background-size: 15px;
>>>>>>> 9ad727176e5bc212718949684a9340487cf14318
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
#registration_email::-webkit-input-placeholder {
  color: white;
}
#registration_email::-moz-placeholder {
  color: white;
}
#registration_email:-moz-placeholder {
  color: white;
}
#registration_email::-ms-input-placeholder {
  color: white;
}

.email_white {
  background-image: url(email_white.png);
}

.email_blue {
  background-image: url(email_blue.png);
}

.email_red {
  background-image: url(email_red.png);
}

#registration_username {
<<<<<<< HEAD
  background-size: 18px;
=======
  background-size: 15px;
>>>>>>> 9ad727176e5bc212718949684a9340487cf14318
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
#registration_username::-webkit-input-placeholder {
  color: white;
}
#registration_username::-moz-placeholder {
  color: white;
}
#registration_username:-moz-placeholder {
  color: white;
}
#registration_username::-ms-input-placeholder {
  color: white;
}

.username_white {
  background-image: url(username_white.png);
}

.username_blue {
  background-image: url(username_blue.png);
}

.username_red {
  background-image: url(username_red.png);
}

#registration {
<<<<<<< HEAD
  background-size: 18px;
=======
  background-size: 15px;
>>>>>>> 9ad727176e5bc212718949684a9340487cf14318
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}

#registration::-webkit-input-placeholder {
  color: white;
}
#registration::-moz-placeholder {
  color: white;
}
#registration:-moz-placeholder {
  color: white;
}
#registration::-ms-input-placeholder {
  color: white;
}

.password_white {
  background-image: url(password_white.png);

}

.password_blue {
  background-image: url(password_blue.png);
}

.password_red {
  background-image: url(password_red.png);
}
